@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import "fontello.css";

/* 웹폰트 선언 */

@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('font/eot/NotoSansKR-Regular-Hestia.eot'), url('font/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Regular-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Regular-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('font/eot/NotoSansKR-Bold-Hestia.eot'), url('font/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Bold-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Bold-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'webcafeIcon';
    font-weight: 400;
    src: url('font/webcafeIcon.eot');
    src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'), url('font/webcafeIcon.woff') format('woff'), url('font/webcafeIcon.ttf') format('truetype'), url('font/webcafeIcon.svg#webcaferegular') format('svg');
}


/* 숨김 콘텐츠*/

legend,
.hidden {
    /*display: none; 아에 쓸수 없어서 위험하다*/
    position: absolute;
    left: -9999em;
}


/* 요소의 여백 초기화 */

html,
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


/* 제목크기 초기화 */

h1,
h2,
h3,
h4 {
    font-size: 2em;
    font-weight: normal;
}


/* 기본 스타일 */

html {
    font-size: 10px;
}

body {
    font-family: 'Noto Sans Regular', sans-serif;
    /*NotoSansRegular가 인식되지 않으면 sans-serif 글꼴군에서 선택*/
    font-size: 1.4rem;
}


/* 레이아웃 */


/* #=id  .=class */

.wrapper {
    /*background-image: linear-gradient(to bottom, #d6d6d6 1%, #ffffff 70%, #ffffff 100%);*/
    /*background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);*/
    /*background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(255,255,255,255) 100%);*/
    /*background-image: url(images/bg_flower.png), linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
    background-repeat: no-repeat, repeat; 이미지 반복X, 그라데이션 반복O
    background-position: 50% 10%, 0 0;*/
    /*단축표기법*/
    background: url(images/bag_image.png) no-repeat 50% 0, linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%) repeat 0 0;
    background-attachment: fixed;
    /*배경을 고정시킨다*/
    padding: 30px 0;
    /*height: 50vh;*/
}

.header,
.visual,
.main-content,
.slogan,
.footer {
    width: 940px;
    margin: 0 auto;
}


/* 링크스타일 */

a {
    color: inherit;
    text-decoration: none;
}


/* 헤더 */

.header {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    /*border-radius: 값; 모서리 라운딩*/
    border: 1px solid #181818;
    border-radius: 5px;
    /* 앞 0은 위 아래 , 뒤 50은 양 옆 */
    /*margin: 0 50px;*/
    /* auto 는 남은 면적 계산해서 해줌 */
    /*min-height: 115px;*/
    padding: 0 20px 70px 30px;
    position: relative;
}


/* 로고 */

.logo {
    /*background: linear-gradient(#a6c1ee, #fee2ff);*/
    /*레이아웃 배치*/
    /*pos:static   : default
          absolute : layer화, 상위 요소를 기준으로 포지션을 정한다
          relative
          fixed    : 스크롤을 내려도 화면에 항상 떠있다
          sticky*/
    position: absolute;
    top: 45px;
    left: 50px;
}


/* 텍스트링크 - 안내링크 */

.info-menu {
    /*background: #a6c1ee;*/
    list-style-type: none;
    font-size: 0;
    text-align: right;
    /*text-align: left;   default
                : right;  오른쪽 정렬
                : center; 가운데정렬
      부모가 블록이어야한다.*/
    right: -10px;
}


/* 클래스 하위의 요소를 불러올때 클래스 선택자 띄우고 요소선택자 */


/* 44px은 되어야 성인 남성이 실수로 터치를 못하는 경우가 적다 */

.info-menu li,
.info-menu a {
    display: inline-block;
}

.info-menu li {
    /*background: lime;*/
    font-size: 1.4rem;
    text-transform: uppercase;
}

.info-menu li::after {
    content: " : ";
}

.info-menu li:last-child::after {
    content: "";
}

.info-menu a {
    padding: 10px 0;
    /*background: yellow;*/
    /*block의 성격을 가진 inline*/
}


/* 메인메뉴 */

.main-menu {
    /*background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/
    list-style-type: none;
    border-top: 1px solid #181818;
    border-radius: 0 5px;
    padding-left: 225px;
    height: 20px;
}


/* 요소를 가로로 정렬 */

.main-menu>li {
    float: left;
    position: relative;
    /*padding-top: 15px;*/
}


/* 명확한 자식 요소를 선택 */

.main-menu span {
    font-size: 1.8rem;
    font-family: "noto sans bold";
    color: rgba(255, 255, 255, 0.95);
    padding: 0 15px;
    line-height: 45px;
    /*background: #000;*/
    display: block;
    border-left: 2px solid rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 0px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000, 0px 1px 0 #000;
}

.main-menu span:hover,
.main-menu span:focus {
    color: hsla(35, 80%, 80%, 1);
    outline: 0;
    /*탭으로 영역을 지정했을때 점선을 제거*/
}


/* ::after, ::before는 선택된 요소의 형제레벨의 요소를 만들어낸다.*/

.main-menu span:hover::after,
.main-menu span:focus::after {
    content: "";
    display: block;
    border-top: 2px solid #181818;
}

.main-menu ul {
    list-style-type: none;
    position: absolute;
    /*background: lime;*/
    /*강제로 줄바꿈 금지*/
    white-space: nowrap;
    top: 45px;
}

.main-menu ul li {
    display: inline-block;
}

.main-menu ul a::before {
    font-family: "webcafeIcon";
    content: "r";
    position: relative;
    top: 2px;
}

.main-menu ul a:hover::before,

/*tab키를 이용해서 영역이 지정될수있다.*/

.main-menu ul a:focus::before {
    content: "c";
}

.main-menu ul a {
    padding: 8px 15px 7px 0;
    display: block;
}

.about-html {
    display: none;
}

.about-css {
    display: none;
    left: 0;
}

.web-standards {
    display: none;
    left: 0;
}

.web-accessibility {
    display: none;
    left: -170px;
}

.qna {
    display: none;
    left: -195px;
}

.archive {
    display: none;
    right: 0;
}

.main-menu>li>.about-html:hover {
    display: block;
}

@keyframes text-ani {
    0% {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        transform: translate(0, 75px);
    }
    50% {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.5);
        transform: translate(200px, 0);
    }
    100% {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        transform: translate(400px, 75px);
    }
}

.visual {
    /*padding: 30px 0;*/
    height: 120px;
    position: relative;
    /*이미지설정 : 정의한 순서로 보인다*/
}

.visual::before,
.visual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
}

.visual::before {
    background: url(images/ani_flower_01.png) no-repeat 0px 0, url(images/ani_flower_02.png) no-repeat 670px 0;
    animation: flower-ani 2s forwards ease-in-out infinite;
}

.visual::after {
    background: url(images/ani_flower_03.png) no-repeat 300px 0, url(images/ani_flower_04.png) no-repeat 800px 0;
    animation: flower-ani 2s forwards ease-in-out infinite alternate-reverse;
}

@keyframes flower-ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.visual-text {
    font-family: Georgia, "Times New Roman", Times, serif;
    display: inline-block;
    color: rgba(0, 0, 0, 0);
    /*opacity: rgba(0, 0, 0, 0);*/
    /*animation-fill-mode: backwards = 0%에서 멈춘다.
                         : forwards  = 100%에서 멈춘다*/
    /*animation-timing-function : linear/ease-in/ease-out/ease-in-out/cubic-bezier;*/
    /*animation-iteration-count: n; 애니메이션을 n회 반복실행한다
                               : infinite; 무한반복*/
    /*animation-direction : alternate; 순방향 - 역방향순으로 애니메이트
                          : alternate-revese; 역방향 - 순방향순으로 애니메이트*/
    animation: text-ani 1s forwards ease-in-out;
    /*animation : ani-name duration fill-mode delay function count direction*/
}

.main-content {
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    /*height: 400px; 높이를 400으로 고정*/
    min-height: 400px;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    /*box를 넘지 않게한다*/
    /*justify-content: space-between;*/
    /*flex-direction: __;
      콘텐츠를 가로방향 세로방향
      배치를 정해준다 디폴트는 row*/
    flex-direction: row;
    justify-content: space-between;
    /*align-items: flex-start;*/
    /*align-items: 위치; 자식영역에 속하는 것의 위치를 바꾼다*/
}

.group {}

.group1 {
    width: 300px;
    /*align-self: flex-end; 각각 요소의 위치를 설정*/
}

.group2 {
    width: 380px;
}

.group3 {
    width: 190px;
    /*order: -1;*/
}


/* 로그인 */

.slogan {
    height: 10vh;
}

.member {
    padding: 0 10px 10px 10px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.member::after {
    content: "";
    display: block;
    clear: both;
    /*float때문에 일어난 높이 문제를 해결해준다*/
}

.icon-user::before,
.icon-right-open::before {
    color: #f00;
}

.join {
    float: left;
}

.find {
    float: right;
}

.validation {
    margin-top: 20px;
}

.validation-list {
    list-style-type: none;
}

.validation-list a {
    background: url("images/validation_icon.png") no-repeat 20px 50%, linear-gradient(to bottom, #eee, #ccc);
    display: block;
    border: 1px solid #aaa;
    border-radius: 20px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
    padding-left: 40px;
}


/*.validation-list li {
    background: url("images/validation_icon.png") no-repeat 20px 50%, linear-gradient(to bottom, #eee, #ccc);
    border: 1px solid #aaa;
    border-radius: 20px;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    text-indent: 40px;
    list-style-type: none;
}

.validation-list a {
    display: block;
}*/

.slogan {
    height: 10vh;
}

.footer-bg {
    background-image: linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
}

.footer {
    /*background-color: blue;*/
    height: 10vh;
}

.login {
    background: radial-gradient(circle at right top, #e5892d, #e0652c);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    /*box-shadow: X Y Blur 두께 색*/
}

.login-heading {
    font-family: "Noto Sans Bold", sans-serif;
    font-size: 2rem;
    color: #ff0;
    text-indent: 10px;
    /*text-indent: n; n만큼 들여쓰기한다*/
}

.login-form {
    background: #fff;
    margin-top: 5px;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    cursor: pointer;
}

.login-form fieldset {
    /*숨기기*/
    border: 0;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
    margin: 0;
    position: relative;
}

.login-form label {
    display: inline-block;
    width: 4em;
    /*inline-block과 width로 id, pw 너비 똑같이 만들기*/
    cursor: pointer;
}

.user-pw {
    margin-top: 6px;
}

.login-form input {
    box-sizing: border-box;
    width: 95px;
    height: 22px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
}

.btn-login {
    width: 55px;
    height: 50px;
    border: 0;
    padding: 0 3px;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 170px;
    color: white;
    cursor: pointer;
    background: hsla(0, 100%, 70%, 1);
    border-radius: 3px;
    font-size: 1em;
}